.input_button {
    color: red;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #f435;
    cursor: pointer;
}

.value_text {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}